/* General */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* Navbar */

.navbar-nav .nav-link.active {
  font-weight: 500;
}

#nav-image {
  position: relative;
  height: 2.2rem;
  overflow: hidden;
}

/* Footer */

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ProfileDetails avatar */

.avatar-image {
  position: relative;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar-image img {
  width: 100%;
  height: auto;
}

/* ProfileExplorer cards */

.card-image {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  object-fit: cover;
}

/* Responsive Changes */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .avatar-image {
    width: 16rem;
    height: 16rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
