* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
}

main > section:not(.active){
    display: none;
}

h1 {
    margin-bottom: 3%;
}

#profileView > p {
    color: rgb(153, 153, 158);
}

button {
    border-width: 0px;
    border-radius: 0.7rem;
    text-align: center;
    background-color: rgb(208, 215, 247);
    padding: 0.5%;
}

button:hover {
    background-color: rgb(225, 225, 227);
}

.editProfile, .done {
    padding: 10px 20px;
    float: right;
    clear: right;
}

.profilePic {
    display: inline-block;
    margin-left: 46%;
}


.uploadPhoto {
    display: inline-block;
}

.nameClass {
    margin-left: 42%;
    margin-top: 3%;
}

.locationClass {
    margin-left: 42%;
    margin-top: 2%;
}

.bioClass {
    margin-left: 42%;
    margin-top: 2%;
}

.genderClass {
    margin-left: 42%;
    margin-top: 2%;
}

.ageClass {
    margin-left: 42%;
    margin-top: 2%;
}

.lifestyleClass {
    margin-left: 42%;
    margin-top: 2%;
}

.propertyClass {
    margin-left: 42%;
    margin-top: 2%;
}

.roomateClass {
    margin-left: 42%;
    margin-top: 2%;
}

.saveProfileButton {
    margin-left: 42%;
    margin-top: 2%;
}

#profileBio {
    display: block;
    width: 40%;
    padding: 0.7%;
    font-size: 12pt;
}

#profileAge, #roomateNumber {
    width: 5%;
}


.profileCardDiv {
    position:relative;
    width:50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-top: 2%;
    padding: 1%;
}

.profileCardDiv > img, .profileCardDiv > h2, .profileCardDiv > p {
    display: inline-block;
}


#profileCardName {
    position:absolute;
    top:1%;
    padding-left:2%;
    font-size: 20pt;
}

#profileCardLocation {
    position: absolute;
    left:40%;
    top:10%;
    font-size: 14pt;
}

#profileCardGender {
    position: absolute;
    left:40%;
    top:30%;
    font-size: 14pt;
}

#profileCardAge {
    position: absolute;
    left:40%;
    top:50%;
    font-size: 14pt;
}

.reportButton {
    float: right;
    clear: right;
    padding: 1.5%;
}

.loginh1 {
    position: absolute;
    left: 48%;
    margin-top: 4%;
}

.loginUsername {
    position: absolute;
    left: 44%;
    margin-top: 7%;
}

.loginPassword {
    position: absolute;
    left: 44%;
    margin-top: 12%;
}

.logginButton {
    position: absolute;
    left: 46%;
    margin-top: 17%;
    cursor: pointer;
}

.loginin_signup_button {
    position: absolute;
    left: 51%;
    margin-top: 17%;
    cursor: pointer;
}

#loginView input {
    width: 100%;
    padding: 5px;
    border-color: black;
    border: 1%;
}

.signuph1 {
    position: absolute;
    left: 48%;
    margin-top: 4%;
}

.signupUsername {
    position: absolute;
    left: 44%;
    margin-top: 7%;
}

.signupPassword {
    position: absolute;
    left: 44%;
    margin-top: 11%;
}

.confirmPassword {
    position: absolute;
    left: 44%;
    margin-top: 15%;
}

.signupButton {
    position: absolute;
    left:48%;
    padding: 1% 2%;
    margin-top: 20%;
    cursor: pointer;
}

#signupView input {
    width: 100%;
    padding: 5px;
    border-color: black;
    border: 1%;
}

.menuButton {
    position:absolute; 
    top: 0; 
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
    font-size: 20pt; 
}

.menuContainer {
    position:absolute;
    top: 20; 
    right: 0;
    margin-top: 1%;
    margin-right: 1%;

}

.menuContainer > .menuHidden{
    display: none;
}

#menuProfile {
    position:relative;
    top: 5; 
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

#menuLogin {
    position:relative;
    top: 100; 
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

#menuSignup {
    position:relative; 
    top: 200; 
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}
