* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
}

main > section:not(.active){
    display: none;
}

h1 {
    margin-bottom: 5%;
}

p {
    color: rgb(153, 153, 158);
}

button {
    border-width: 0px;
    border-radius: 0.7rem;
    text-align: center;
    background-color: rgb(208, 215, 247);
    padding: 0.5%;
}

button:hover {
    background-color: rgb(225, 225, 227);
}

.editProfile, .done {
    padding: 10px 20px;
    float: right;
}

.profilePic {
    display: inline-block;
    margin-left: 46%;
}


.uploadPhoto {
    display: inline-block;
}

.nameClass {
    margin-left: 42%;
    margin-top: 3%;
}

.locationClass {
    margin-left: 42%;
    margin-top: 2%;
}

.bioClass {
    margin-left: 42%;
    margin-top: 2%;
}

.genderClass {
    margin-left: 42%;
    margin-top: 2%;
}

.ageClass {
    margin-left: 42%;
    margin-top: 2%;
}

.lifestyleClass {
    margin-left: 42%;
    margin-top: 2%;
}

.propertyClass {
    margin-left: 42%;
    margin-top: 2%;
}

.roommateClass {
    margin-left: 42%;
    margin-top: 2%;
}

.saveProfileButton {
    margin-left: 42%;
    margin-top: 2%;
}

#profileBio {
    display: block;
    width: 40%;
    padding: 0.7%;
    font-size: 12pt;
}

#profileAge, #roommateNumber {
    width: 5%;
}